<div class="page wedding">
    <div class="section">
        <div class="article">
            <div class="main">
                <div class="content">
                    <%- page.content %>
                </div>
            </div>
        </div>
    </div>
</div>
